body {
    background-color: rgb(190, 231, 238);
    align-items:center;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 300px;
    margin-bottom: 100px;
    
}

div {
    background-color: rgb(84, 167, 170);
    margin: 20px;
    padding: 20px;
    width: 60%;
    text-align: center;
    border:2px solid rgb(100, 205, 159);
}
h1 {
    background-color: rgb(84, 167, 170);
    margin: 20px;
    padding: 20px;
    width: 60%;
    text-align: center;
    border:2px solid rgb(100, 205, 159);
}

.action-button-index3{
    padding: 15px;
    background-color: #6648d3;
    border-radius: 10px;
    color: #ffffff;
    margin:20px;
 }
.action-button-index3:hover{
    padding: 15px;
    background-color: #2a9b9f;
    border-radius: 10px;
    color: #ffffff;
}
.tipo_h2{
  letter-spacing: 3px;  
}
.tipo_div1{
    background-color: rgb(85, 84, 170);
    margin: 20px;
    padding: 20px;
    width: 60%;
    text-align: center;
    border:2px solid rgb(0, 0, 0); 
    color: bisque;  
}
.tipo_div2{
    background-color: rgb(85, 84, 170);
    margin: 20px;
    padding: 20px;
    width: 60%;
    text-align: right;
    border:2px solid rgb(0, 0, 0); 
    color: bisque; 
    word-spacing: 5px; 

}
.cadetblue{
    color: cadetblue;
}
.black{
    color: rgb(0, 0, 0);
}
}
.silver{
    color: silver;
}
